#menuLaterale {
    margin-left: 100px;
    width: 650px;
}

.open {
    display: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
    color: #e26767;
    border-radius: 1em;
    padding: 9px 15px;
    border: none;
    position: relative;
}

.open:hover {
    background-color: #e26767;
    color: white;
}

.close {
    display: none;
}

@media (max-width: 800px) {
    .pannelloLaterale .close {
        position: absolute;
        top: 0;
        left: 25px;
        font-size: 30px;
        margin-left: 60px;
    }
    .pannelloLaterale {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(9, 22, 32);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    .open {
        display: block;
    }
    .comandi {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .comandi a {
        margin: 15px;
        padding-right: 5px;
    }
    .close {
        display: block;
    }
    #menuLaterale {
        width: 0px;
        visibility: hidden;
    }
    #menuLaterale.attiva {
        width: 350px;
        visibility: visible;
    }
}